@import './base.css';

#app {
  height: 100vh;
  width: 100vw;
  background-color: grey;
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*font-weight: normal;*/
}

.ol-control.ol-bar {
  width: fit-content;

  button {
    width: 7rem;
  }
}

.custom-ol-active {

  button {
    /*background-color: #00AAFF !important;*/
  }
}

.connection-prompt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  top: 15%;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 2rem;
  padding: 0.8rem;
  max-width: 35rem;

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }
  
  .input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3rem;
    width: 100%;
    margin-top: 0.3rem;
    
    input {
      margin-left: 1rem;
      margin-right: 1rem;
      width: 45%;
      font-size: 1.2rem;
    }
  }  
  
  button {
    width: 70%;
    margin: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }
}

.connection-error {
  position: absolute;
  color: darkred;
  font-size: 2em;
  font-weight: bolder;
  background-color: white;
  padding: 1em;
  border-radius: 1.5em;
  bottom: 2%;
  
  @media (max-width: 768px) {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    left: 50%;
    transform: translateX(-50%);
  }
  
  span {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
  }
}

.quest-overlay {
  color: black;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5em;
  width: 20em;
  transform: translateX(-50%) translateY(+10px);
  
  .quest-overlay__name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .quest-overlay__description {
    font-size: 1em;
  }
}

.qr-code-container {
  position: absolute;
  font-size: 2em;
  font-weight: bolder;
  background-color: white;
  padding: 1em;
  border-radius: 1.5em;
  bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .qr-code {
    
  }
}

.map-button-row {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  
  button {
    margin: 0.2em;
    font-size: 1.2em;
    height: 2em;
    width: 7em;
    border: none;
    border-radius: 0.5em;
  }
}

.map-button-active {
  background-color: darkolivegreen;
}
